## KT-2

In [2]:
%store -r kt2
print(kt2)

Număr total de lansări KT-2: 1
Număr de eșecuri KT-2: 0
Rată de succes KT-2: 100.00%

Lista lansărilor orbitale pentru racheta KT-2
+----------+-----------------+--------+--------+---------------+----+-------+---+
| ID       | Date            | Rocket | Series | Sat * Mission | Or | LSite | R |
+----------+-----------------+--------+--------+---------------+----+-------+---+
| 2017-012 | 2017-03-02 2353 | KT-2   | Y1     | Tiankun-1     | CN | JQ*-  | S |
+----------+-----------------+--------+--------+---------------+----+-------+---+